*

!/.gitignore
!/APL/
!/APL/Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/
!/APL/Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/**

*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
*.xdv
*Notes.bib
MAIN-TEXT.pdf

APL/Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/optica-article.cls
APL/Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/opticafig*.pdf
APL/Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/opticajnl*.bst
APL/Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/sample.bib
APL/Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/jabbrv*
APL/Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/styles/
