*

!/.gitignore
!/APL/
!/APL/Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/
!/APL/Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/**
!/APL/Supplementary__Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/
!/APL/Supplementary__Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/SI.tex
!/APL/Supplementary__Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/SI.pdf
!/APL/Supplementary__Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/refs.bib
!/APL/Supplementary__Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/images/
!/APL/Supplementary__Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/images/combined_mask_and_2D_locking_regions_115.png
!/APL/Supplementary__Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/images/combined_mask_and_2D_locking_regions_194.png
!/APL/Supplementary__Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/images/combined_AM_PM_modulation_sweep.png

*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
*.xdv
*Notes.bib
MAIN-TEXT.pdf

APL/Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/optica-article.cls
APL/Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/opticafig*.pdf
APL/Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/opticajnl*.bst
APL/Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/sample.bib
APL/Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/jabbrv*
APL/Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/styles/

APL/Supplementary__Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/jabbrv*
APL/Supplementary__Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/opticajnl*.bst
APL/Supplementary__Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/osajnl.bst
APL/Supplementary__Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/osa-supplemental-document*
APL/Supplementary__Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/sample.eps
APL/Supplementary__Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/images/combined_locking_region_deltaIrel_with_boundary_*.png
APL/Supplementary__Distributed_Coherent_Optical_Computing_via_Injection_Locked_Photonic_Networks_OPTICA_/images/combined_locking_region_mask_heatmap_*.png
